/* 
Color i will use
gray #DCE2F0
blue gray #50586C

*/

* {
    font-family: "Josefina Sans", sans-serif;
    box-sizing: border-box;
}

/* Header */
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 1px;
}

header span {
    font-size: 1.2rem;
    color: #50586C;
}

/* Hamburger Navigation */

.hamburger {
    background: none;
    border: none;
    font-size: 2rem;
    color: #50586C;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00D7";
}

/* Footer */
footer {
    background-color: #DCE2F0;
    padding: 1rem 10px;
    text-align: center;

}
.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}
.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: #ccc solid 1px;
    border-radius: 22px;
}
.social img {
    width: 22px;
    height: 22px;
}
.social a:hover {
    background-color: #ddd;
}