@media only screen and (min-width: 38rem) {
    
    /* HEADER */ 
    header {
        justify-content: space-between;
    }

    nav {
        display: block;
        font-size: 1.5rem;
    }

    .ham-icon {
        display: none;
    }

    nav ul {
        display: flex;
        justify-content: center;
        background-color: var(--color-sageGreen);
        border-bottom: 4px solid var(--color-hunterGreen);
    }

    nav li {
        border: none;
    }

    nav a {
        padding: 1rem;
        color: white;
        font-weight: bold;
        
    }

    nav ul li a:hover {
        color: var(--color-brick);
    }

    /* MAIN */
    main {
        max-width: 960px;
        margin: 0 auto;
    }

    /* CONTENT */ 
    .about-me,
    .student-photo,
    .courses {
        padding: 1rem;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    }
    .profile {
        display: flex;
        gap: 2rem;
        align-items: flex-start;
        margin-bottom: 4rem;
    }
    
    .about-me,
    .student-photo {
        flex: 1;
        margin-bottom: 0;
    }
    h1, h2 {
        text-align: center;
    }

    .course-list {
        grid-template-columns: repeat(3, 1fr);
    }

}