@media screen and (min-width: 768px) {
  nav {
    display: block;
  }

  .ham-icon {
    display: none;
  }

  nav ul {
    display: flex;
    justify-content: center;
    background-color: #eee;
  }

  nav li {
    border: none;
  }

  nav a {
    padding: 1rem;
  }

  .course-list {
    grid-template-columns: repeat(3, 1fr);
  }

  main {
    max-width: 960px;
    margin: 0 auto;
  }

  header {
    justify-content: space-between;
  }

  .about-me,
  .student-photo,
  .courses {
    padding: 1rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  }
  .profile {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    margin-bottom: 4rem;
  }
  
  .about-me,
  .student-photo {
    flex: 1;
    margin-bottom: 0;
  }
  h1, h2 {
    text-align: center;
  }
  .student-photo img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }

}